.card {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  border: 1px solid #eee;
  margin: 1rem;
  border-radius: 1rem;
  gap: 1rem;
}

.selected {
  border-color: blue;
}

.card img {
  border-radius: 0.5rem;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  align-items: start;
}

.title {
  font-weight: bold;
}

.skills {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.skills .item {
  background-color: gray;
  padding: 0.2rem;
  font-size: 70%;
}
